/* Estilos para los inputs */
#username,#email,#password{    
    width: 70%;
    padding: 10px;
    border: 3px solid;
    background-color: white;
    color: #bb3535;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center; 
    align-items: center;/* Centrar el texto */
}

/* Estilo para el fondo gris */
body {
    align-items: center;
    background-color: grey;
    text-align: center;
}
#cancel{
    background-color: #bb3535;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}
#registerBtn{
    background-color: #38a030;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}
